<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>
<h:body>
	<ui:composition template="/template/layout/layout.xhtml">
		<ui:define name="content">
			<div id="company-info" class="section selected">
				<h1>What is TicketMaster?</h1>
					<p>A place to buy tickets to your favourite concerts!</p>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>