<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
			<p:accordionPanel var="concert" value="#{concertBean.concertList}">
				<p:tab title="#{concert.title}" >
					<p>
						<h:outputText value="Address: " style="font-weight:bold" />
						<h:outputText value="#{concert.address}" />
					</p>
					<p>
						<h:outputText value="Performers: " style="font-weight:bold" />
						<ui:repeat var="performer" value="#{concert.performerList}">
							<h:form id="performerForm" >	
								<p:commandLink action="#{performerBean.toPerformer(performer.id)}" value="#{performer.title}" ajax="false"/>
							</h:form>
						</ui:repeat>
					</p>
					<p>
						<h:outputText value="Description: " style="font-weight:bold" />
						<h:outputText value="#{concert.description}" />
					</p>
					<h:form id="editForm" rendered="#{userBean.checkRole('ROLE_ADMIN')}">  
						<p:commandButton value="Edit" action="#{concertBean.toEditConcert(concert.id)}" ajax="false"/>
					</h:form>
				</p:tab>
			</p:accordionPanel>
	</ui:define>
	
	<ui:define name="west">
		<h:form id="searchForm">  	
			<h:panelGrid columns="1">
	            <h:outputLabel for="concertTitle" value="Concert title" />  
	            <p:inputText id="concertTitle" value="#{concertBean.title}" required="true">  
	                <f:validateLength minimum="1" />  
	            </p:inputText>  
	            <p:message for="concertTitle" />  
	            
	            <h:commandButton value="Search" action="#{concertBean.searchConcerts}"   
            		ajax="false" />
	        </h:panelGrid>  
		</h:form>
	</ui:define>
</ui:composition>
