<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<p:accordionPanel>
			<p:tab title="#{performerBean.performer.title}">
				<p>
					<h:outputText value="Style: " style="font-weight:bold"/>
					<h:outputText value="#{performerBean.performer.style}"/>
				</p>
				<p>
					<h:outputText value="Description: " style="font-weight:bold"/>
					<h:outputText value="#{performerBean.performer.description}"/>
				</p>
				<h:form id="editForm" rendered="#{userBean.checkRole('ROLE_ADMIN')}">  
					<p:commandButton value="Edit" action="#{performerBean.toEditPerformer(performerBean.performer.id)}" ajax="false"/>
				</h:form>
			</p:tab>
		</p:accordionPanel>
	</ui:define>
</ui:composition>
