<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<h:form id="searchForm"> 
			<p:panel id="panel" header="New Person" style="margin-bottom:10px;"> 	
				<p:growl id="growl"/>
				<p:messages id="messages"/>
				<h:panelGrid columns="3">
					<h:outputLabel for="title" value="Title: *" />
		            <p:inputText id="title" value="#{concertBean.concert.title}" label="Title: " required="true">  
		                <f:validateLength minimum="1" />  
		            </p:inputText>  
		            <p:message for="title" />  
		            
		            <h:outputLabel for="address" value="Address *" />
		            <p:inputText id="address" value="#{concertBean.concert.address}" required="true">  
		                <f:validateLength minimum="1" />  
		            </p:inputText>  
		            <p:message for="address" /> 
		            
		            <h:outputLabel for="performers" value="Performers: " />
		            <p:autoComplete id="performers" value="#{concertBean.selectedPerformers}" completeMethod="#{concertBean.completePerformer}"  
				        var="perf" itemLabel="#{perf.title}" itemValue="#{perf}" converter="#{performerConverter}" 
				        multiple="true" >  
				  
				        <p:ajax event="itemUnselect" listener="#{concertBean.handleUnselect}" update="growl" />  
				  
				        <p:column style="width:80%">  
				            #{perf.title} - #{perf.style}  
				        </p:column>  
				    </p:autoComplete>  
				    <p:message for="performers" />
		            
		            <h:outputLabel for="description" value="Description: *" />
		            <p:inputTextarea id="description" rows="6" cols="33" value="#{concertBean.concert.description}" required="true"/>
		            <p:message for="description" /> 
		            
		            <p:commandButton value="Save" actionListener="#{concertBean.addConcert}"   
	            		ajax="true" icon="ui-icon-disk" update="panel"/>
		        </h:panelGrid>  
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
