<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<h:form id="searchForm"> 
			<p:panel id="panel" header="Performer" style="margin-bottom:10px;"> 	
				<p:messages id="messages"/>
				<h:panelGrid columns="3">
					<h:outputLabel for="title" value="Title: *" />
		            <p:inputText id="title" value="#{performerBean.performer.title}" label="Title: " required="true">  
		                <f:validateLength minimum="1" />  
		            </p:inputText>  
		            <p:message for="title" />  
		            
		            <h:outputLabel for="Style" value="Style: *" />
		            <p:inputText id="style" value="#{performerBean.performer.style}" label="Title: " required="true">  
		                <f:validateLength minimum="1" />  
		            </p:inputText>  
		            <p:message for="style" /> 
		            
		            <h:outputLabel for="description" value="Description: *" />
		            <p:inputTextarea id="description" rows="6" cols="33" value="#{performerBean.performer.description}" required="true" label="Description: "/>
		            <p:message for="description" /> 
		            
		            <p:commandButton value="Save" actionListener="#{performerBean.addPerformer}"   
	            		ajax="true" icon="ui-icon-disk" update="panel" />
		        </h:panelGrid>  
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
